.DS_Store
.idea/
.vscode/*

backend/HELP.md
backend/target/
!backend/.mvn/wrapper/maven-wrapper.jar
!backend/**/src/main/**/target/
!backend/**/src/test/**/target/

### IntelliJ IDEA ###
backend/.idea/
backend/*.iws
backend/*.iml
backend/*.ipr

### VS Code ###
# Logs
frontend/logs
frontend/*.log
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
frontend/lerna-debug.log*

# Node modules
frontend/node_modules

# Build output
frontend/dist
frontend/dist-ssr

# Test coverage
frontend/coverage

# Local environment files
frontend/*.local

# Cypress directories
frontend/cypress/videos/
frontend/cypress/screenshots/

# Editor directories and files
frontend/.vscode/*
!frontend/.vscode/extensions.json
frontend/.idea
frontend/*.suo
frontend/*.ntvs*
frontend/*.njsproj
frontend/*.sln
frontend/*.sw?

# TypeScript build info
frontend/*.tsbuildinfo
